#ctu1
{
    /*border-style: solid;
    border-color:black;
    border-width: 2px;*/
    width: 300px;
    height:350px;
   background-color: white;
    margin: 10px;
    float: left;
}
#ctu11
{
    width: 300px;
    height: 300px;
    float: left;
    border-bottom: solid;
    border-color: #F4F3EF;
    float: left;
}
#ctu12
{
    
    width: 300px;
    margin: 10px;
    float: left;
    text-align: center;
}
#ctu2
{
    /*border-style: solid;
    border-color:black;
    border-width: 2px;*/
    width: 300px;
    height:350px;
   background-color: white;
    margin: 10px;
    float: left;
}
#ctu21
{
    width: 300px;
    height: 300px;
    float: left;
    border-bottom: solid;
    border-color: #F4F3EF;
    float: left;
}
#ctu22
{
    
    width: 300px;
    margin: 10px;
    float: left;
    text-align: center;
}
#ctu3
{
    /*border-style: solid;
    border-color:black;
    border-width: 2px;*/
    width: 400px;
    height:350px;
   background-color: white;
    margin: 10px;
    float: left;
}
#ctu31
{
    width: 400px;
    height: 300px;
    float: left;
    border-bottom: solid;
    border-color: #F4F3EF;
    float: left;
}
#ctu32
{
    
    width: 400px;
    margin: 10px;
    float: left;
    text-align: center;
}
#ctu4
{
    /*border-style: solid;
    border-color:black;
    border-width: 2px;*/
    width: 500px;
    height:350px;
   background-color: white;
    margin: 10px;
    float: left;
}
#ctu41
{
    width: 500px;
    height: 300px;
    float: left;
    border-bottom: solid;
    border-color: #F4F3EF;
    float: left;
}
#ctu42
{
    
    width: 500px;
    margin: 10px;
    float: left;
    text-align: center;
}
#ctu5
{
    /*border-style: solid;
    border-color:black;
    border-width: 2px;*/
    width: 500px;
    height:350px;
   background-color: white;
    margin: 10px;
    float: left;
}
#ctu51
{
    width: 500px;
    height: 300px;
    float: left;
    border-bottom: solid;
    border-color: #F4F3EF;
    float: left;
}
#ctu52
{
    
    width: 500px;
    margin: 10px;
    float: left;
    text-align: center;
}